.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 8px;
  /* border: 1px solid red; */
}

.contentent-separator {
  display: flex;
  justify-content: flex-end;
  width: 88%;
  height: 100%;
  /* border: 1px solid green; */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: 100%;
  border-radius: 15px;
  background-color: rgb(226, 226, 226);
  color: black;
  /* border: 1px solid violet; */
}

.sidebar-container {
  display: flex;
  padding-top: 20px;
  /* width: 100%; */
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
  /* border: 1px solid greenyellow; */
}

.header-container {
  display: flex;
  align-items: center;
  /* top: 0;
  z-index: 10; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid blue; */
}

/* Responsive */
@media (max-width: 768px) {

  .dashboard-container {

    padding: 0px;
  }

  .sidebar-container {
    display: none;
  }

  .contentent-separator {
    width: 100%;
  }

  .content {
    width: 100vw;
    height: 100dvh;
  }

}