.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
  /* border: 1px solid #9c9c9c65; */
  padding: 5px;


  & label {
    font-size: 1.5rem;
  }

  & input {
    display: flex;
    border-bottom: 1px solid #9c9c9c65;
    margin-left: 5px;
    width: 100%;
  }
}

.input-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #9c9c9c65;
  cursor: pointer;
}

.login-button:hover {
  border: 1px solid #9c9c9c65;
  background-color: #9c9c9c65;
  color: white;
}