nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #666b70;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #007bff65;
  border-radius: 5px;
  width: 100%;
  height: 5vh;

  & img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  & span {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.nav-section-title {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-section-wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.link,
.active-link,
.inactive-link,
.active-link:hover {
  display: flex;
  width: 100%;
}

.active-link,
.active-link:hover {
  font-weight: bold;
  color: #007bff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: background-color 0.7s;
  padding-left: 5px;
}

.inactive-link {
  color: #007bff65;
  text-decoration: none;
}

.inactive-link:hover {
  color: #000;
}
