.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #666b70;
  align-items: flex-start;
  height: 97dvh;
  width: 100%;
  z-index: 0;
  /* border: 1px solid #007bffb4; */
}

.nav-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 5px;
  border-radius: 5px;
  width: 100%;
  height: 5vh;

  & img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}

.nav-header>p {
  color: #ffffff;
  margin-left: 10px;
}

.nav-section-title {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1px;
  background-color: #666b70;
}

.nav-section-wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /* border: 1px solid #666b70; */
}

.nav-section,
.nav-section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

i {
  margin-right: 10px;
  padding-bottom: 2px;
}

.link,
.active-link,
.inactive-link,
.active-link:hover {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 5px;
  height: 35px;
  border: 2px solid transparent;
}

.active-link,
.active-link:hover {
  color: #cbcbcb;
  background-color: #3d4b5588;
  border-left: 2px solid #007bffb4;
  border-radius: 5px;
  transition: border-bottom 0.7s;
}

.inactive-link {
  color: #fafafa;
  text-decoration: none;
}

.inactive-link:hover {
  background-color: rgba(0, 0, 0, 0.534);
}

.hideSidebar {
  display: none;
}