nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #666b70;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border-radius: 5px;
  width: 100%;
  height: 10vh;

  & img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  & h2 {
    width: 90%;
    color: #e69214;
  }
}

.nav-section-title {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1px;
  background-color: #666b70;
}

.nav-section-wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.link,
.active-link,
.inactive-link,
.active-link:hover {
  display: flex;
  width: 100%;
  padding-left: 5px;
  height: 30px;
  border: 2px solid transparent;
}

.active-link,
.active-link:hover {
  color: #007bffb4;
  background-color: rgba(0, 0, 0, 0.534);
  border-left: 2px solid #007bffb4;
  border-radius: 1px;
  transition: border-bottom 0.7s;
}

.inactive-link {
  color: #007bffb4;
  text-decoration: none;
}

.inactive-link:hover {
  background-color: rgba(0, 0, 0, 0.534);
}
